@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    
}

.backimage{
   background: linear-gradient(to bottom, #1a237e, #21618C,  #64b5f6, white); 
}



.logo img {
    height: 100px;
    width: 180px;
    margin-left: 40px;
    margin-top: 20px;
  }

 


section{
    padding: 2rem 9%;
    
}

.heading{
    text-align: center;
    padding: 2.5rem;
    margin-bottom: 50px;
    
}

.heading p{
    color: #21618C;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.heading span{
    font-size: 50px;
    background: #D6EAF8 ;
    color: #21618C;
    border-radius: 0.5rem;
    padding: 10px 20px 10px 20px;  
    font-family: 'Josefin Sans', sans-serif;  
}



.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
}

.packages .box-container .box{
    flex: 1 1 300px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 5px 10px gray;
    
}

.packages .box-container .box:hover {
    box-shadow: 0 8px 20px gray; 
}

.packages .box-container .box img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}



.packages .box-container .box .content{
    padding: 2rem;
}

.packages .box-container .box .content h3{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Candara;
}

.packages .box-container .box .content h3 i{
    color: orangered;
}

.packages .box-container .box .content p{
    font-size: 20px;
    color: black;
    padding: 1rem 0;
    font-weight: bold;
    font-family: Candara;
}

.packages .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: orange;
}

.packages .box-container .box .content .price{
    font-size: 2rem;
    color: #21618C;
    padding-top: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;    
}


.price span {
    font-size: 20px; /* Set the font size for the 'per person' text */
    color: #777; /* Set a lighter color for the 'per person' text */
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.btn {
    display: block;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #21618C;
    color: #21618C;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: Candara;
    width: 200px;
    margin: 0 auto;    
  }

  .btn:hover {
    background-color: #21618C;
    color: #fff;
  }
  


  .btn2 {
    display: block;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #21618C;
    color: #21618C;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: Candara;
    width: 500px;
    margin: 0 auto;   
  }
  

  .btn2:hover {
    background-color: #21618C;
    color: #fff;
  }
  

  .logo span{
       
        color: white; /* Set text color */
        font-size: 40px; /* Set font size */
        font-weight: bold; /* Set font weight */
        font-family: Segoe Script;
        flex-grow: 1; /* Allow paragraph to expand and fill remaining space */
        margin-left: 590px;
       
    
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    top:250px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup a {
    color: #3448fb;
    font-family: Tahoma;
    font-size: 18px;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #06D85F;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: Tahoma;
    font-size: 18px;
  }
  
  @media screen and (max-width: 700px) {
    .box {
      width: 70%;
    }
  
    .popup {
      width: 70%;
    }
  }












