* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.hero {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(50, 34, 119, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    cursor: default;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

/* intro */

.intro {
    background-color: #D6EAF8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;

}

.intro h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Candara;
    cursor: default;
}

.intro p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:default; 
}


/* filter */

.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.left-col {
    flex-basis: 25%;
    position: sticky;
    top: 20px; /* Adjust top position */
    height:570px;

    flex: 1;
    padding-right: 20px;

    overflow-y: auto;
    
}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    overflow-y: auto;
    
   
}




.filter input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #21618C;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.filter input[type="checkbox"]:checked {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

.right-col {
    flex-basis: 70%;
    
}

.right-col h1 {
    color: #21618C;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Candara;
    cursor: default;
}


.sidebar {
    border: 1px solid #040d49;
    padding: 20px 30px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}


.sidebar h2 {
    font-family: Candara;
    font-weight: bold;
    cursor: default;
}

.sidebar h3 {
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.filter {
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
    margin: 1px;
}

.filter p {
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.filter input {
    margin: 5px 15px;
    cursor: pointer;

}




/* packages css */

.tour {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0px 0px 0px;
    border-top: 3px solid #0f0f0f;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 1px 0px 5px #2e2f30;
    padding: 15px;
    border-radius: 10px;

}

.tour-img {
    flex-basis: 40%;
   
}

.tour-info {
    flex-basis: 58%;
    color: black;
}

.para {
    font-weight: bold;
    font-size: 17px;
}

.tour-img img {
    width: 100%;
    border-radius: 12px;
    height: 200px;
}

.tour-info h3 {
    font-weight: bold;
    color: #21618C;
    font-size: 22px;
    margin: 4px 0;
    font-family: Candara;
    cursor: default;
}

.tour-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.rating {
    margin-right: 120px;
    text-align: left;

}

.tour-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

}

.tour-price h4 {
    font-size: 20px;
    cursor: default;
}

.price {
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
}

.card {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.card p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.more-info {
    display: none;
}

.show-more {
    align-self: flex-end;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #21618C;
    font-size: 17px;
    font-family: Candara;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #21618C;
    color: #21618C;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: Candara;
}

.btn:hover {
    background-color: #21618C;
    color: #fff;
}

/* pegination */

.pagination img{
    height: 15px;
    width: 15px;
   
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.right-arrow {
    transform: rotate(180deg);
}

.pagination span{
   margin: 10px 8px;
   width: 40px; 
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   cursor: pointer;
}

.pagination .current{
    background: black;
    color: white;
}


/*footer*/

.footer {
    position: relative;
    width: auto;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
   
  .social-icon,
  .menu1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
   
  .social-icon__item,
  .menu1__item {
    list-style: none;
  }
   
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
   
  .menu1__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
   
  .menu__link:hover {
    opacity: 1;
  }
   
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
   
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
   
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
   
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
   
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
   
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
   
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
   
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }


